wheel

six
python-dotenv
requests
psycopg2-binary
simplejson
pydub
python-vlc
gtts
pillow
django-imagekit
pattern3
numpy

django
djangorestframework
django-compressor
django-modeltranslation

gunicorn

google-cloud
google-cloud-translate
google-cloud-texttospeech

openai

yookassa

django-sslserver

django-compressor

sqlalchemy

celery
celery[librabbitmq,redis,auth,msgpack]
sentry-sdk[django]

redis
django-redis
django-celery-results
django-celery-beat

pika
flower

django-debug-toolbar



